/********
  *******
  INITIAL
  *******
********/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --responsive-nav-bar-color: #1e272e;
}

html,
body {
  position: relative;
  overflow-x: hidden;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--text-color);
}

#particles-js canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #1e272e;
  background-image: url(stars-image.jpg);
  /* background: white; */
  background-size: cover;
  background-position: center;
}

.section-header {
  height: 97.5vh;
}

.section-footer {
  height: 2.5vh;
  font-size: 12px;
  text-align: center;
}

/********
  *******
  HEADER
  *******
********/

/*
NAV
*/

.nav {
  height: 5vh;
  font-size: 16px;
  letter-spacing: 8px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo object {
  position: relative;
  top: 2px;
  height: 42px;
  margin-left: 14px;
}

.nav-items-list {
  margin-left: auto;
  width: 55%;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  transition: width 1s;
}

.nav-list-item {
  transition: font-size 1s;
}

.nav-list-item:hover {
  font-size: 20px;
  font-weight: 300;
}

.nav-list-item a {
  text-decoration: none;
}

.nav-list-item a:link,
.nav-list-item a:visited {
  color: var(--text-color);
}

.burger {
  display: none;
}

.burger div {
  width: 18px;
  height: 3px;
  background-color: white;
  margin: 4px;
  transition: rotate 1s, transform 1s, opacity 1s;
}

/*
INTRO-CARD
*/

.intro-card {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name {
  font-size: 50px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 90px;
  text-align: center;
}

.name span {
  color: #2d3436;
  cursor: pointer;
}

.name span:hover {
  color: white;
}

/* .name:hover {
  cursor: pointer;
} */

.hidden-name {
  display: none;
}

.type-writter-effect {
  top: 100px;
  width: 150%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 28px;
  font-weight: 300;
  line-height: 100px;
  font-style: italic;
  text-align: center;
}

/********
  *******
  RESPONSIVE
  *******
********/

@media only screen and (max-width: 1680px) {
  /* Styles */
  .name {
    letter-spacing: 68px;
  }
}

@media only screen and (max-width: 1224px) {
  /* Styles */
  .name {
    letter-spacing: 48px;
  }
}

@media screen and (max-width: 1024px) {
  .nav-items-list {
    width: 70%;
  }

  .name {
    letter-spacing: 30px;
  }
}

@media screen and (max-width: 768px) {
  .name {
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 20px;
  }

  .type-writter-effect {
    font-size: 22px;
    line-height: 80px;
  }

  .nav-items-list {
    width: 50%;
    position: absolute;
    height: 100vh;
    top: 0vh;
    background: var(--responsive-nav-bar-color);
    flex-direction: column;
    right: 0px;
    transform: translateX(100%);
    transition: transform 0.5s;
    z-index: 1;
  }

  .nav-list-item {
    opacity: 0;
  }

  .burger {
    display: block;
    margin-left: auto;
    margin-right: 18px;
    cursor: pointer;
    z-index: 2;
  }
}

@media screen and (max-width: 480px) {
  .name {
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 10px;
  }

  .type-writter-effect {
    font-size: 20px;
    line-height: 80px;
  }
}

@media screen and (max-width: 320px) {
  .name {
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 6px;
  }

  .type-writter-effect {
    width: 100%;
  }
}

.nav-items-list-OnBurgerIconClick {
  transform: translateX(0%);
}

.burger-icon-toggle .line1 {
  transform: rotate(-45deg) translate(0, 10px);
}

.burger-icon-toggle .line2 {
  opacity: 0;
}

.burger-icon-toggle .line3 {
  transform: rotate(45deg) translate(0, -10px);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
