* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: black;
}

.header {
  height: 95vh;
  background-color: #f5f6fa;

  width: 100%;
}

/*
NAV
*/
.nav {
  height: 5vh;
  font-size: 16px;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.main-nav-items {
  margin-left: auto;
  width: 50%;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  transition: width 1s;
}

.main-nav-item a {
  text-decoration: none;
}

.main-nav-item a:link {
  color: black;
}

.main-nav-item a:visited {
  color: black;
}

.burger {
  display: none;
}

.burger div {
  width: 18px;
  height: 3px;
  background-color: black;
  margin: 4px;
}

/*
MAIN
*/

.main {
  position: relative;
  height: 90vh;
}

.info {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: black;
}

.name {
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 18px;
  text-transform: uppercase;

  text-align: center;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);

  transition: font-size 1s;
}

.name:hover {
  font-size: 50px;
  /* text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8); */
}

.welcome-text {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  margin-top: 50px;
  font-size: 35px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  line-height: 120px;
}

/*
FOOTER
*/

.footer {
  height: 5vh;
  background-color: #535c68;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .main-nav-items {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    letter-spacing: 4px;
    background: rgba(0, 0, 0, 0.03);
  }

  .main-nav-items {
    width: 50%;
    position: absolute;
    height: 90vh;
    right: 0;
    top: 5vh;
    background: rgba(0, 0, 0, 0.03);
    flex-direction: column;
  }

  .main {
    width: 50%;
  }
}
